.carousel-button {
  width: 44px;
  height: 44px;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  padding: 0;
  border-radius: 50%;
  cursor: pointer;
  background-color: transparent;
  border: 1px solid var(--color-primary-dark);
  transition: background-color 0.3s;

  &.next {
    transform: rotate(180deg);
  }

  &:hover {
    background-color: var(--color-primary-dark);
  }
}

.carousel-arrow {
  fill: var(--color-primary-dark);
  transition: fill 0.3s;
}

.carousel-button .carousel-button:hover .carousel-arrow {
  fill: var(--color-primary-normal);
}
